.content{
    text-align: center;
}

.title {
    font-size: 3.3rem;
    font-style: italic;
}

.search-bar-button {
    background-color: #F24C4C;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #293462;
    cursor: pointer;
    display: inline-block;
    font-family: 'Monaco', sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 20px;
    margin: 0;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.search-bar-button:hover,
.search-bar-button:focus {
    background-color: #B22727;
}